/* MasonryImageList.css */

.masonry-container {
    width: 100%;
    max-width: 1500px;
    height: 450px;
    overflow-y: scroll;
    margin: 0 auto;
  }
  
  .masonry-image-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  
  .masonry-image-item {
    flex: 1 1 calc(33.333% - 8px);
    box-sizing: border-box;
  }
  
  .masonry-image-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    object-fit: cover;
  }
  

@media (max-width: 768px) {
    
  }
  